<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>apiCall</title>
</head>
<body>
	<h1>apiCall</h1>
	<button type="button" id="apiCallBtn">확인</button>
	<select name="dong" id="search_area3" class="search_area" title="읍면동 선택">
		<option value="4511358000">금암1동</option>
		<option value="4511359000">금암2동</option>			
		<option value="4511357000">덕진동</option>			
		<option value="4511364100">송천1동</option>			
		<option value="4511364200">송천2동</option>			
		<option value="4511366500">여의동</option>			
		<option value="4511361100">우아1동</option>			
		<option value="4511361200">우아2동</option>			
		<option value="4511354000">인후1동</option>			
		<option value="4511355000">인후2동</option>			
		<option value="4511356000">인후3동</option>			
		<option value="4511365000">조촌동</option>			
		<option value="4511352500">진북동</option>			
		<option value="4511360000">팔복동</option>			
		<option value="4511367000">혁신동</option>			
		<option value="4511362000">호성동</option>			
	</select>
	<table border="1">
		<thead>
			<tr>
				<th>시간</th>
				<th>날씨</th>
			</tr>
		</thead>
		<tbody id="wData">
			<tr>
				<td colspan="2">확인 버튼을 눌러주세요.</td>
			</tr>
		</tbody>
	</table> 	
	<script type="text/javascript">		
		$('#apiCallBtn').click(function(){
			var zone = $('#search_area3').val();
			var request = $.ajax({
			  url: "/apiResult",
			  method: "get",
			  data: { zone : zone },
			  dataType: "json"
			});		 
			request.done(function( data ) {
			  	console.log(data);
			  	var html = '';
			  	for(var i=0; i < data.length; i++){
			  		html += '<tr>';
			  		html += '<td>';
			  		html += data[i].hour;
			  		html += '</td>';
			  		html += '<td>';
			  		html += data[i].wfKor;
			  		html += '</td>';
			  		html += '</tr>';
			  	}			  	
			  	$('#wData').html(html);
			});		 
			request.fail(function( jqXHR, textStatus ) {
			  alert( "Request failed: " + textStatus );
			});
		});
	</script>
</body>
</html>